[Unit]
Description=Rclone Mount Google Drive
After=network.target

[Service]
Type=notify
User=1000
ExecStart=/usr/bin/rclone mount Google_Drive:/ /home/nicolas-mignard/Google_Drive \
  --poll-interval 1m \
  --timeout 1h
ExecStop=/bin/fusermount -uz /home/nicolas-mignard/Google_Drive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
